.btn:hover{text-decoration:none}.btn-4{border:1px solid;overflow:hidden;position:relative}.btn-4 span{z-index:20}.btn-4:after{background:#fff;content:"";height:155px;left:-75px;opacity:0.2;position:absolute;top:-50px;transform:rotate(35deg);transition:all 550ms cubic-bezier(0.19, 1, 0.22, 1);width:50px;z-index:-10}.btn-4:hover:after{left:120%;transition:all 550ms cubic-bezier(0.19, 1, 0.22, 1)}
/*# sourceMappingURL=btnsCool.css.map */