
/* .what{
  position: fixed;
  right: 200px;
  bottom: 200px;
  color: #25D366 !important;
  background-color: white;
  z-index: 1032;
} */
.font-17{
  font-size: 17px;
}

.pad-r-0{
  padding-right: 0 !important;
}

.pad-l-0{
  padding-left: 0 !important;
}

.btn-sort-down{
  padding-left: 5px !important;
  position: relative !important;
}

.sort-down{
  position: absolute;
  margin-bottom: 10rem !important;
  padding-bottom: 10rem !important;
}

div#tableColumns-filter div.btn-group{
  /* cursor: move; */
  margin: 3px;
}

.placeholder {
  border: 1px dashed #ccc;
  background-color: #fff;
  color: #333;

}

.hint {
  opacity: 0.4;
}


/* msg whatsapp */
.formWhatsapp{
  width: 220px;
  height: 330px;
  background-color: white;
  position: fixed;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.22);
  border-radius: 5px;
  bottom: 75px;
  right: 30px;
  z-index: 1032;
  transition: ease-in-out 0.5s;
}

.whatMsg{
  width: 65px;
  /* height: 65px; */
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  position: fixed;
  transition: ease-in-out 0.5s;
  z-index: 1032;
}

.whatMsg:hover{
  transition: ease-in-out 0.5s;
  box-shadow: 0 4px 25px 0 rgba(0,0,0,0.3);
}

.whatMsg:active{
  width: 62px;
}

.bg-lightred{
  background-color:#bc3c3c;
}

.text-lightred{
  color:#bc3c3c;
}

.font-peque{
  font-size: 0.75rem;
}

.flecha_abajo {
  position: relative;
  animation-name: f-a;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.flecha_abajo:hover {
  position: relative;
  animation-name: f-ah;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes f-ah {
  0% {
    top: 0px;
  }
  /* 25%  {background-color:yellow; left:200px; top:0px;} */
  50% {
    top: 10px;
  }
  /* 75%  {background-color:green; left:0px; top:200px;} */
  100% {
    top: 0px;
  }
}

@keyframes f-a {
  0% {
    top: 0px;
  }
  /* 25%  {background-color:yellow; left:200px; top:0px;} */
  50% {
    top: 5px;
  }
  /* 75%  {background-color:green; left:0px; top:200px;} */
  100% {
    top: 0px;
  }
}

.hover-services:hover {
  /* color: #FCFCFC; */
  border: 1px solid transparent;
  padding-top: 0.5rem;
  border-radius: 1rem;
  /* transform: rotate3d(1, 2, 3, 10deg); */
  transform: scale3d(1, 1.2, 1.2);
  /* transform: scaleZ(0.3); */
}

.back-to-top {
  bottom: 1.25rem;
  position: fixed;
  right: 1.25rem;
  z-index: 1032;
  background-color: #d42a2a;
}

.back-to-top-2 {
  bottom: 1.25rem;
  position: fixed;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  /* right: 50%; */
  left: 50%;
  /* right: 1.25rem; */
  /* margin-right: 0 auto;
  margin-left: 0 auto; */
  margin: 0 auto;
  z-index: 1050;
  background-color: white;
}

.back-to-top:hover {
  background-color: #ff3838;
  border: transparent 1px solid;
  transform: rotateX(10deg);
  /* transform: rotateY(10deg); */
  /* marg: 0.8rem; */
}

/* .back-to-top:focus {
  box-shadow: none;
} */

/* QUIENES SOMOS */
ul {
  padding: 0;
  margin: 0;
}

ul li {
  /* list-style: disc; */
  font-size: 17px;
  line-height: 1.59;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
  line-height: 1.13;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

img {
  border: none;
  max-width: 100%;
}

code {
  background-color: #ee6e73;
  border-radius: 2px;
  color: #fff;
  padding: 2px 4px;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
}

pre code {
  background-color: transparent;
  color: #333333;
}

del {
  text-decoration-color: #ee6e73;
}

kbd {
  background-color: #ddd;
  padding: 4px 6px;
  border-radius: 2px;
}

address {
  line-height: 1.5;
  padding-left: 10px;
}

dl dt {
  font-weight: 700;
}

dl dd {
  margin-left: 0;
}

blockquote {
  background-color: #f8f8f8;
  border-radius: 0 4px 4px 0;
  padding: 5px 15px;
}

blockquote p {
  margin-top: 10px;
}

button {
  padding: 5px 15px;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

iframe {
  border: none;
}

/* ========= BUTTON =========*/

.mu-send-msg-btn {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 16px 24px;
  margin-top: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 200px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus {
  background-color: #fff;
}

/*scrol to top*/

.scrollToTop {
  bottom: 60px;
  color: #ffffff;
  display: none;
  font-size: 30px;
  line-height: 50px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 55px;
  z-index: 999;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  height: 55px;
  border-radius: 10px;
}

.scrollToTop:hover,
.scrollToTop:focus {
  color: #fff;
}

/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-hero {
  background-image: url("assets/images/head-featured-bg.jpg");
  display: inline;
  float: left;
  width: 100%;
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

#mu-hero:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  opacity: 0.84;
  width: 100%;
  z-index: 10;
}

.mu-hero-area {
  display: inline;
  float: left;
  position: relative;
  z-index: 99;
  width: 100%;
}

.mu-hero-top {
  display: inline;
  float: left;
  width: 100%;
  padding: 25px 0;
}

.mu-logo-area {
  display: inline;
  float: left;
  width: 50%;
}

.mu-logo {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  font-weight: 700;
  background: #fff;
  max-width: 500px;
}

.mu-logo span {
  display: inline-block;
  padding: 5px 15px;
}

.mu-hero-top-info {
  display: inline;
  float: left;
  text-align: right;
  width: 50%;
}

.mu-hero-top-info ul {
  margin-top: 14px;
}

.mu-hero-top-info ul li {
  list-style: none;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  padding: 0 8px;
  border-left: 1px solid #f8f8f8;
  font-size: 16px;
  float: right;
}

.mu-hero-top-info ul li:last-child {
  border-left: none;
}

.mu-menu-btn {
  position: fixed;
  right: 15%;
  top: 50px;
  color: #fff;
  font-size: 25px;
  border: 2px solid #fff;
  padding: 5px 14px;
  z-index: 999;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-menu-btn:hover,
.mu-menu-btn:focus {
  border: 2px solid #fff;
}

.mu-scrolldown-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.mu-scrolldown {
  font-size: 40px;
  color: #fff;
  display: inline-block;
  /* margin-top: 50px; */
}

.mu-scrolldown:hover,
.mu-scrolldown:focus {
  color: #fff;
}

/*=== Featured section ===*/

.mu-hero-featured-area {
  display: inline;
  float: left;
  padding: 60px 0 150px;
  width: 100%;
}

.mu-hero-featured-content {
  display: inline;
  float: right;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.mu-hero-featured-content h1 {
  font-size: 45px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

.mu-hero-featured-content p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 1px;
}

.mu-hero-featured-content h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
}

.mu-book-now-btn {
  display: inline-block;
  border: 1px solid #fff;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 30px;
}

/*--------------------*/
/* ABOUT US */
/*--------------------*/

#mu-about {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}

.mu-about-area {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.mu-about-left {
  display: inline;
  float: left;
  width: 100%;
}

.mu-about-right {
  display: inline;
  float: left;
  margin-top: 35px;
  width: 130%;
  background-color: #fff;
  padding: 40px;
  margin-left: -175px;
  box-shadow: 3px 1px 18px -9px #000;
}

.mu-about-right p {
  font-size: 15px;
}

/*WHY US*/

#mu-why-us {
  background-color: #fff;
  float: left;
  padding: 50px 0 100px;
  display: inline;
  width: 100%;
}

.mu-why-us-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.mu-why-us-area h2 {
  color: #333;
}

.mu-why-us-content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.mu-why-us-single {
  display: inline;
  float: left;
  width: 100%;
  padding: 0 5px;
}

.my-why-us-single-icon {
  border: 1px solid #ccc;
  font-size: 30px;
  display: inline-block;
  width: 85px;
  height: 85px;
  line-height: 85px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.mu-why-us-single h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.mu-why-us-single p {
  font-size: 15px;
}

/*--------------------*/
/* VIDEO */
/*--------------------*/

#mu-video {
  background-image: url("assets/images/about-video-bg.jpeg");
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}

#mu-video:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  opacity: 0.94;
  width: 100%;
  z-index: 10;
}

.mu-video-area {
  display: inline;
  float: left;
  position: relative;
  padding: 100px 0;
  text-align: center;
  width: 100%;
  z-index: 99;
}

/* .mu-video-area h2,
.mu-video-area p {
  color: #fff;
} */

.mu-video-content {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
}

.mu-video-content iframe {
  border: none;
}

/*--------------------*/
/* FEATURED TOURS */
/*--------------------*/

#mu-featured-tours {
  background-color: #fff;
  float: left;
  padding: 100px 0;
  display: inline;
  width: 100%;
}

.mu-featured-tours-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.mu-featured-tours-area h2 {
  color: #333;
}

.mu-title-content {
  padding: 0 10%;
}

.mu-featured-tours-content {
  display: inline;
  float: left;
  margin-top: 40px;
  width: 100%;
}

.mu-featured-tours-single {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  width: 100%;
  margin: 15px 0;
}

.mu-featured-tours-single-info {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
  padding: 20px 10px;
}

.mu-featured-tours-single h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.mu-featured-tours-single h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 300;
}

.mu-price-tag {
  position: absolute;
  bottom: 25px;
  left: 15px;
  color: #333;
  font-size: 22px;
  font-weight: 600;
}

.mu-featured-tours-single p {
  font-size: 15px;
}

.mu-featured-tours-single-info .mu-book-now-btn {
  margin-top: 10px;
  font-size: 15px;
  text-transform: capitalize;
  float: right;
}

/*--------------------*/
/* TRAVELERS TESTIMONIALS */
/*--------------------*/

#mu-testimonials {
  background-image: url("assets/images/testimonials-bg.jpeg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}

#mu-testimonials::before {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
}

.mu-testimonials-area {
  display: inline;
  float: left;
  padding: 150px 0 175px;
  width: 100%;
}

.mu-testimonials-area h2 {
  color: #fff;
  text-align: center;
}

.mu-testimonials-block {
  display: inline;
  float: left;
  margin-top: 60px;
  width: 100%;
}

.mu-testimonial-slide li {
  list-style: none;
  text-align: center;
}

.mu-client-quote {
  font-size: 35px;
  opacity: 0.7;
  margin-bottom: 25px;
}

.mu-testimonial-slide li p {
  color: #fff;
  padding: 0 10%;
}

.mu-testimonial-slide .mu-rt-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 15px;
  display: inline-block;
}

.mu-rt-name {
  margin-bottom: 5px;
  color: #fff;
  line-height: 1;
  margin-top: 25px;
  letter-spacing: 1px;
}

.mu-rt-title {
  color: #fff;
  font-size: 14px;
}

.mu-testimonial-slide .slick-dots {
  bottom: -50px;
}

.mu-testimonial-slide .slick-dots li {
  background-color: #f8f8f8;
  height: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-testimonial-slide .slick-dots li button {
  display: none;
}

/*--------------------*/
/* CLIENTS */
/*--------------------*/

#mu-clients {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}

.mu-clients-area {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
  text-align: center;
}

.mu-clients-slider {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.mu-clients-single {
  display: inline;
  float: left;
}

.mu-clients-slider .slick-next {
  right: -40px;
}

.mu-clients-slider .slick-prev {
  left: -60px;
}

.mu-clients-slider .slick-prev,
.mu-clients-slider .slick-next {
  background-color: transparent;
}

/*--------------------*/
/* CALL TO ACTION */
/*--------------------*/

#mu-callto-action {
  display: inline;
  float: left;
  width: 100%;
  padding: 50px 0;
}

.mu-callto-action-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.mu-callto-action-area h2 {
  color: #fff;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.mu-callto-action-area .mu-book-now-btn {
  margin-top: 25px;
}

/*--------------------*/
/* CONTACT US */
/*--------------------*/

#mu-contact {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}

.mu-contact-area {
  display: inline;
  float: left;
  text-align: center;
  padding: 100px 18%;
  width: 100%;
}

.mu-contact-content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.mu-contact-form-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-contact-form {
  text-align: center;
}

.mu-contact-form .form-group input {
  background: transparent;
  border-radius: 0;
  color: #333;
  font-size: 15px;
  border: 1px #888;
  border-style: none none solid none;
  height: 45px;
  margin-bottom: 24px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-contact-form .form-group textarea {
  background: transparent;
  border: 1px #888;
  border-style: none none solid none;
  border-radius: 0;
  color: #333;
  font-size: 18px;
  padding: 10px;
  height: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-contact-form .form-control:focus {
  background-color: #fff;
  border-style: none none solid none;
  outline: 0;
  box-shadow: none;
}

.mu-contact-form .form-control::-webkit-input-placeholder {
  color: #888;
  font-size: 15px;
}

.mu-contact-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #888;
  font-size: 15px;
}

.mu-contact-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #888;
  font-size: 15px;
}

.mu-contact-form .form-control:-ms-input-placeholder {
  color: #888;
  font-size: 15px;
}

.mu-contact-form .button-default::after,
.mu-contact-form .button-default > span {
  padding: 12px 40px;
}

#form-messages {
  margin-bottom: 10px;
  background-color: #fff;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/*--------------------*/
/* GOOGLE MAP */
/*--------------------*/

#mu-google-map {
  display: inline;
  float: left;
  width: 100%;
}

#mu-google-map iframe {
  height: 550px;
  width: 100%;
}

/*--------------------*/
/* FOOTER */
/*--------------------*/

#mu-footer {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}

.mu-footer-area {
  display: inline;
  float: left;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}

.mu-footer-right {
  display: inline;
  float: left;
  width: 100%;
}

.mu-social-media {
  display: inline;
  float: left;
  width: 100%;
}

.mu-social-media a {
  border: 1px solid #19191a;
  border-radius: 6px;
  color: #19191a;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
}

.mu-footer-left {
  display: inline;
  float: left;
  width: 100%;
}

.mu-copy-right {
  margin-bottom: 0;
  margin-top: 6px;
}

.mu-copy-right a {
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {
  .mu-about-right {
    margin-top: 20px;
    width: 140%;
    padding: 25px;
    margin-left: -190px;
  }

  .mu-clients-slider .slick-prev {
    left: -40px;
  }

  #mu-google-map iframe {
    height: 450px;
  }
}

@media (max-width: 991px) {
  .mu-primary-btn {
    font-size: 14px;
    padding: 12px 22px;
  }

  .mu-hero-featured-content h1 {
    font-size: 35px;
  }

  .mu-hero-featured-content h2 {
    color: #fff;
    font-size: 20px;
  }

  .mu-about-left img {
    max-width: none;
    width: 115%;
  }

  .mu-about-right {
    margin-top: 75px;
    width: 160%;
    padding: 20px;
    margin-left: -190px;
  }

  .mu-about-right p {
    font-size: 14px;
  }

  .mu-why-us-single {
    padding: 0;
  }

  .mu-featured-tours-single p {
    font-size: 14px;
  }

  .mu-featured-tours-single-info .mu-book-now-btn {
    font-size: 14px;
  }

  .mu-price-tag {
    font-size: 20px;
  }

  .mu-video-content iframe {
    width: 100%;
    height: 400px;
  }

  .mu-clients-slider .slick-next {
    right: -20px;
  }

  .mu-clients-slider .slick-prev {
    left: -20px;
  }

  .mu-contact-area {
    padding: 100px 10%;
  }
}

@media (max-width: 767px) {
  .mu-logo-area {
    width: 100%;
    text-align: center;
  }

  .mu-hero-top-info {
    text-align: center;
    width: 100%;
  }

  .mu-hero-top-info ul {
    margin-top: 20px;
  }

  .mu-hero-top-info ul li {
    border-left: none;
    float: none;
    border-right: 1px solid #f8f8f8;
  }

  .mu-hero-top-info ul li:last-child {
    border-left: 0;
    border-right: 0;
  }

  .mu-hero-featured-area {
    padding: 0px 0 50px;
  }

  .mu-about-area {
    padding: 50px 0;
  }

  .mu-about-left img {
    max-width: 100%;
    width: auto;
  }

  .mu-about-right {
    margin-top: 30px;
    width: 100%;
    padding: 0;
    margin-left: 0;
    box-shadow: none;
  }

  .mu-about-right p {
    font-size: 15px;
  }

  #mu-why-us {
    padding: 50px 0 50px;
  }

  .mu-why-us-single {
    margin-bottom: 40px;
  }

  .mu-title-content {
    padding: 0;
    font-size: 15px;
  }

  .mu-video-area {
    padding: 80px 0;
  }

  .mu-video-content {
    margin-top: 30px;
  }

  #mu-featured-tours {
    padding: 60px 0;
  }

  .mu-featured-tours-content {
    margin-top: 20px;
  }

  .mu-featured-tours-single-info {
    padding: 20px;
  }

  .mu-testimonials-area {
    padding: 100px 0 125px;
  }

  .mu-clients-single {
    padding: 0 5px;
  }

  .mu-contact-area {
    padding: 50px 0%;
  }

  #mu-google-map iframe {
    height: 400px;
  }

  .mu-social-media {
    margin-top: 15px;
  }
}

@media (max-width: 640px) {
  .mu-hero-featured-content h1 {
    font-size: 30px;
  }

  .mu-hero-featured-content p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  .mu-hero-featured-content {
    margin-top: 30px;
  }

  #mu-why-us {
    padding: 20px 0 50px;
  }

  .scrollToTop {
    font-size: 25px;
    line-height: 43px;
    width: 45px;
    height: 45px;
    border-radius: 8px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .mu-logo {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .mu-hero-featured-content {
    margin-top: 20px;
  }

  .mu-hero-featured-content h1 {
    font-size: 25px;
  }

  .mu-hero-featured-content h2 {
    font-size: 14px;
  }

  .mu-hero-featured-content p {
    font-size: 15px;
  }

  .mu-scrolldown {
    font-size: 35px;
    margin-top: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  .mu-video-content iframe {
    width: 100%;
    height: 300px;
  }

  .mu-testimonials-area {
    padding: 50px 0 75px;
  }

  .mu-testimonials-block {
    margin-top: 30px;
  }

  .mu-testimonial-slide li p {
    padding: 0 5%;
    font-size: 15px;
  }

  .mu-clients-slider .slick-prev,
  .mu-clients-slider .slick-next {
    height: 40px;
    width: 40px;
  }

  .mu-clients-slider .slick-prev::before,
  .mu-clients-slider .slick-next::before {
    font-size: 18px;
  }

  .mu-clients-slider .slick-next {
    right: 0;
  }

  .mu-clients-slider .slick-prev {
    left: 0;
  }

  .mu-callto-action-area h2 {
    font-size: 22px;
  }

  .mu-book-now-btn {
    font-size: 16px;
  }

  .mu-contact-content {
    margin-top: 30px;
  }

  .mu-social-media a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .mu-hero-featured-area {
    padding: 0 0 30px;
  }

  .mu-hero-top-info ul li {
    font-size: 14px;
  }

  h2 {
    font-size: 25px;
  }

  .mu-video-content iframe {
    height: 250px;
  }

  .mu-client-quote {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .mu-rt-name {
    margin-bottom: 0px;
    margin-top: 15px;
  }

  .mu-testimonial-slide .mu-rt-img {
    width: 80px;
    height: 80px;
    margin-top: 0px;
  }

  .mu-testimonial-slide .slick-dots {
    bottom: -40px;
  }

  .mu-testimonials-area {
    padding: 50px 0 55px;
  }

  #mu-callto-action {
    padding: 30px 0;
  }

  .mu-book-now-btn {
    font-size: 15px;
    margin-top: 20px;
  }

  .mu-callto-action-area .mu-book-now-btn {
    margin-top: 15px;
  }

  .mu-callto-action-area h2 {
    font-size: 20px;
    line-height: 1.3;
  }

  .mu-send-msg-btn {
    font-size: 14px;
    padding: 12px 18px;
    width: 170px;
  }

  #mu-google-map iframe {
    height: 250px;
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 22px;
  }

  .mu-hero-top-info ul {
    margin-top: 0px;
  }
}

/* END QUIENES SOMOS */

:focus {
  outline: none;
}

.subs {
  color: #5a5a5a !important;
}

.welcome {
  padding-top: 6.5rem;
}

.solicitud {
  box-shadow: 1.5px 1.1px 1.1px 0.2px #ccc;
  /* border-radius: 0; */
}

.titulo-servicio2 {
  font-family: "Oswald", cursive;
  font-size: 30px;
  padding-top: 0.7rem;
}
/* ================================NavBar====================================*/

.navUniversal {
  background: #fcfcfc;
  height: 55px;
  position: relative;
}

.logo {
  float: left;
  height: 55px;
  width: 30%;
  line-height: 55px;
  color: #14100e;
  text-align: center;
}

.navigation-list {
  /* float: left; */
  /* height: 55px; */
  text-align: center;
  background: #fcfcfc;
  transition: ease 0.3s;
  /* width: 70%; */
  /* text-align: right; */
}

.navigation-list > li {
  display: inline-block;
  height: 55px;
}

.navigation-list > li a {
  height: 55px;
  color: #cb3234;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 55px;
  padding: 0 7px;
}

.navigation-list > li a:hover {
  color: rgb(231, 76, 60);
}

/* .container {
  max-width: 960px;
} */

.site-header {
  /* background-color: rgba(0, 0, 0, 0.85); */
  background-color: #fcfcfc;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.ourServices {
  line-height: 1.35;
  font-size: 0.85rem;
}

/* .esconder {
  display: none;
}

.desenfundar {
  display: block;
} */

.navb {
  z-index: 1;
}

.jumbotron {
  border-radius: 0 !important;
}

.encargar {
  margin-top: 2rem;
  background-image: url(../../assets/img/us/t23.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 55% 70%;
  /* position: absolute; */
  /* padding-bottom: 5rem; */
  /* margin-bottom: 8.3rem; */
}

@media (min-width: 0px) and (max-width: 772px) {
  .encargar {
    margin-top: 2rem;
    background-image: none !important;
  }
}

/* .img-opacity{
  opacity: 0.8;
} */
.blanco-obligatorio {
  color: white !important;
}

/* .acceder-btn {
  border-radius: 0 !important;
} */

.acceder-btn:hover {
  color: white !important;
}

.acceder-btn-crear {
  /* border-radius: 0 !important; */
  color: #6c757d !important;
}

.acceder-btn-crear:hover {
  color: white !important;
  /* background: #be2130 !important; */
}

.img-shadow {
  border: solid 1px #d80013;
  -webkit-box-shadow: 1px 11px 12px 2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 11px 12px 2px rgba(0, 0, 0, 0.52);
  box-shadow: 1px 11px 12px 2px rgba(0, 0, 0, 0.52);
}

.img-setting {
  height: 41px;
  width: 50px;
}

@media (max-width: 600) and (min-width: 575px) {
  .img-setting {
    height: 15px !important;
  }
}

.solu-area {
  margin: 0px;
  padding: 0px 0px;
}

.contenedor_sin_relleno {
  padding: 10px !important;
}

/* @media (max-width: 650px) and (min-width: 0px) {
  .imagen-logo {
    width: 3rem !important;
    height: 0.5rem !important;
    margin-right: 0.5rem !important;
  }

  /* .fondo-form {
    background-image: none !important;
  } */
/* }  */

/* .imagen-logo {
  width: 6rem;
  height: 5.5rem;
} */

.caja:first-child {
  margin-top: 0;
}

.home-icon-services {
  float: left;
  margin: 0 30px 0 0;
  padding: 0;
  width: 40px;
}

.home-icon-services i {
  font-size: 40px;
  transition: all 0.3s ease-in-out 0s;
}

div.moreinfo {
  padding: 3.35rem;
}

.texto-borde {
  -webkit-text-stroke: 0.1px rgba(169, 3, 41, 1);
  padding: 1rem;
  font-weight: 1000 !important;
  /* font-size: 2.5rem; */
  font-size: 3vw;
  overflow: hidden !important;
  height: 100%;
  background-color: #333;
  opacity: 0.8;
}

@media (max-width: 6000px) and (min-width: 1100px) {
  .texto-borde {
    font-size: 2.3vw;
  }
}

.texto-borde-2 {
  -webkit-text-stroke: 0.2px rgba(169, 3, 41, 1);
  font-weight: 500;
  font-size: 2rem;
}

.texto-borde-3 {
  color: rgba(169, 3, 41, 1) !important;
  padding: 1rem;
  margin: 1rem;
  border-top: rgba(169, 3, 41, 1) ridge 1px;
  border-bottom: rgba(169, 3, 41, 1) ridge 1px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 5rem;
}

.texto-borde-4 {
  padding: 1rem;
  margin: 1rem;
  border-top: #ccc ridge 1px;
  border-bottom: #ccc ridge 1px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 5rem;
}

.texto-borde-5 {
  padding: 1rem;
  margin: 1rem;
  border-top: #ccc ridge 1px;
  border-bottom: #ccc ridge 1px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 2rem;
}

.texto-borde-6 {
  padding: 1rem;
  margin: 1rem;
  border-top: rgb(255, 255, 255) ridge 1px;
  border-bottom: rgb(255, 255, 255) ridge 1px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 2rem;
}

.parte-img {
  background: url(../img/us/t2-min.jpg) no-repeat fixed 0 0 / cover
    rgba(0, 0, 0, 0) !important;
  height: 20rem !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 100% !important;
}

.form-contacto {
  background: rgba(169, 3, 41, 1);
  background: -moz-linear-gradient(
    left,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 0.61) 44%,
    rgba(109, 0, 25, 0.11) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(169, 3, 41, 1)),
    color-stop(44%, rgba(143, 2, 34, 0.61)),
    color-stop(100%, rgba(109, 0, 25, 0.11))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 0.61) 44%,
    rgba(109, 0, 25, 0.11) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 0.61) 44%,
    rgba(109, 0, 25, 0.11) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 0.61) 44%,
    rgba(109, 0, 25, 0.11) 100%
  );
  background: linear-gradient(
    to right,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 0.61) 44%,
    rgba(109, 0, 25, 0.11) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1);
}
/*CARDS*/
/*div.cards-home{
    background-color:white !important;
}

div.cards-home:hover{
    background-color:rgba(0,0,0,0.5) !important;
}*/
/*FOOTER STYLES*/
/*#foot:hover{
    display: none;
}*/

.a-hide-foot {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  opacity: 0.03;
  padding: 0.2rem !important;
  float: right;
  position: relative;
}

.a-hide-foot:hover {
  opacity: 10;
}

.footerHome {
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  background-color: #140000;
  border-top: 2px solid #f00;
}

.fb {
  display: block;
  margin-left: 1rem;
}

.fb:hover {
  background-color: white;
  border-radius: 3rem !important;
  color: #3b5998;
}

.yt {
  display: block;
}

.yt:hover {
  background-color: white;
  border-radius: 3rem !important;
  color: #d80013;
}

.wtp {
  display: block;
}

.wtp:hover {
  background-color: #00bb2d;
  border-radius: 3rem !important;
  color: white;
}

.msg {
  display: block;
}

.msg:hover {
  background-color: #0084ff;
  border-radius: 3rem !important;
  color: white;
}

.pint {
  display: block;
}

.pint:hover {
  background-color: #e60023;
  border-radius: 3rem !important;
  color: white;
}

.map {
  display: block;
}

.map:hover {
  background-color: white;
  border-radius: 3rem !important;
  color: #d80013;
}

@media only screen and (max-width: 600px) {
  .fb {
    margin: 0;
    margin-left: 4rem;
    display: block;
  }
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mb-5 {
  margin-bottom: 0 !important;
}
/*START DROPDOWN PHP*/

.dropdown-toggle::after {
  content: none !important;
}

.dropdown-toggle {
  color: white !important;
}

.dropdown-item {
  color: white !important;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.dropdown-item:hover {
  color: black !important;
  background-color: #ffb8b8 !important;
}
/*END DROPDOWN PHP*/

.jumbotron {
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin-top: 2.5rem !important;
  /* margin-bottom: 15rem !important; */
}

/* .politica {
  font-size: 0.6rem;
} */

/* .coltitle {
  color: #1c1e21;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
} */

@media only screen and (max-width: 678px) {
  .bg {
    background-size: 200%;
  }
}

.form-container {
  background-image: url("../../assets/img/us/t2-min.jpg");
  /* background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat; */
  background-color: #ff4747;
  background-size: cover;
  /* background-size: 50% 50%; */
  /* max-width: 100%; */
  top: 5vh;
  /* position: absolute; */
  /* background-color: #fff; */
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 1px 1px 4px 1px #ff1001;
}

.bt-dash {
  color: white;
}

.liLineas {
  border: 1px solid white;
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.acceder {
  background: #fcfcfc;
  color: #14100e !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.crearCuenta {
  background-color: #ab1a18;
  border: 1px solid white;
  border-right: 0px !important;
  color: #fff;
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.crearCuenta:hover {
  background-color: white;
  color: #ab1a18 !important;
}

.item {
  float: left;
}

.logo_contenido {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.2rem;
  min-height: 60px;
  position: relative;
  text-align: center;
  display: block;
}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
{
  display: none;
}

.puntos {
  background-color: #aec7e6;
}

#i1 {
  color: black;
}

h4 {
  font-style: bold;
  font-family: sans-serif;
  font-size: 1.5em;
}
/* ================================General====================================*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

.setting {
  /* margin: 0;
  padding: 0; */
  width: 100%;
  box-sizing: border-box;
}

.cover-background {
  /* background-attachment: fixed; */
  background-image: url(../../assets/img/us/t10.jpg);
  background-size: 100% 100%;
  /* padding: -400rem !important; */
  /* background-size: cover; */
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* margin: 0; */
  height: 35rem !important;
  /* padding-bottom: 21.5em; */
  width: 100%;
  /* padding: -15rem !important; */
}

.page-container {
  background-color: transparent;
  height: 100%;
  height: auto !important;
  min-height: 100%;
  position: relative;
}

.footer {
  background-color: #970901;
  bottom: 0 !important;
  bottom: -1px;
  color: white;
  height: 200px;
  /*Si modifica esta propiedad, tambien hacerlo en padding-botton de la clase .content-page*/
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.section {
  margin: 0;
  padding: 0px;
  width: 100%;
}

.center-box-content {
  margin: 0 auto;
}

.tittles-pages {
  font-family: "Oswald", cursive;
  font-size: 40px;
}

.titulo-servicio {
  font-family: "Oswald", cursive;
  font-size: 40px;
  color: #a90329;
}

.titulo-servicio2 {
  font-family: "Oswald", cursive;
  font-size: 30px;
  padding-top: 0.2rem;
}

.titulo-servicio-3 {
  font-family: "Oswald", cursive;
  font-size: 30px;
  color: #a90329;
}

.titulo-servicio-4 {
  font-family: "Oswald", cursive;
  font-size: 24px;
  color: #c73645;
}
/* ================================NavBar====================================*/

.navUniversal {
  background: #fcfcfc;
  height: 55px;
  position: relative;
}

.logo {
  float: left;
  height: 55px;
  width: 30%;
  line-height: 55px;
  color: #14100e;
  text-align: center;
}

.navigation-list {
  /* float: left; */
  /* height: 55px; */
  text-align: center;
  background: #fcfcfc;
  transition: ease 0.3s;
  /* width: 70%; */
  /* text-align: right; */
}

.navigation-list > li {
  display: inline-block;
  height: 55px;
}

.navigation-list > li a {
  height: 55px;
  color: #cb3234;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 55px;
  padding: 0 7px;
}

.navigation-list > li a:hover {
  color: rgb(231, 76, 60);
}
/* ================================Social icons====================================*/

.list-social-icons > li {
  display: inline-block;
  margin: 0 4px;
}

.list-social-icons > li > a > i {
  transition: all 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 19px;
}

.list-social-icons > li > a > i:hover {
  transform: scale(1.5);
}

/* ================================Styles Index====================================*/

/*----------------------------------*/

.OS-phones {
  background: #fcfcfc;
  color: #525354;
  width: 100%;
  padding-top: 6rem !important;
}

.fondo_PHP {
  background-color: #aec7e6;
  color: #000;
  width: 100%;
}

.news-promo-content {
  background-color: #fff;
  width: 100%;
}

.content-dest {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: white;
  border-radius: 3rem;
  border: 1rem dotted white;
  opacity: 0.9;
  padding: 2rem;
}

.logo-fondo {
  margin-top: 4rem;
  border-radius: 3rem;
}
/* ================================Styles Product====================================*/

.content-carousel {
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
}

.static-image-carousel {
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
}

.thumbnail-content-phones {
  background: #ffffff;
  /* Old browsers */
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* W3C */
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* Opera 11.10+ */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #f6f6f6 47%,
    #ededed 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ffffff),
    color-stop(47%, #f6f6f6),
    color-stop(100%, #ededed)
  );
  /* Chrome,Safari4+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E42C26', GradientType=0);
  /* IE6-9 */
  padding-bottom: 15px;
  padding-top: 15px;
}
/* ================================Styles news====================================*/

.font-content-news {
  background-image: url(../../assets/img/quienes.png);
}

.jumbotron {
  background-color: rgba(0, 3, 0, 0.4);
  color: #fff;
  /* margin-bottom: 0;
  margin-top: 0; */
  /* padding-bottom: 250px; */
}

.all-news-contents {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
}
/* ================================Styles services====================================*/

.font-content-services {
  background-image: url(../../assets/img/phone-font-news.jpg);
}

.font-content-space {
  padding-top: 12rem;
}

.all-services {
  background-color: rgba(236, 240, 241, 0.9);
  color: #000;
}

.principal-container-services {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.principal-container-services > a {
  background-color: #ecf0f1;
  box-shadow: 0.5px 0.5px 3px #000;
  border-radius: 0.5rem !important;
  display: inline-block;
  height: 320px;
  margin: 4px 0.2%;
  margin-right: 0.5rem;
  min-height: 320px;
  overflow: hidden;
  padding: 25px 0px;
  vertical-align: baseline;
  width: 22%;
}

.principal-container-services > a:focus {
  outline: none;
  text-decoration: none;
}

.principal-container-services > a:hover {
  border-radius: 0 !important;
  background-color: #000;
  text-decoration: none;
  transition: all 0.3s linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
}

.icon-service,
.tittle-service,
.description-service {
  color: #333;
  text-align: center;
  transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  width: 100%;
}

.icon-service {
  font-size: 60px;
  opacity: 0.2;
}

.noPR{
  padding-right: 0 !important;
}

.tittle-service {
  font-style: oblique;
  font-size: 13px;
  margin-top: 25px;
}

.description-service {
  font-size: 10.5px;
  padding: 10px 5px;
}

.principal-container-services > a:hover .icon-service {
  color: #dc3545;
  opacity: 0.2;
  transform: scale(5, 5) rotate(20deg) translate(5px, 15px);
  -moz-transform: scale(5, 5) rotate(20deg) translate(5px, 15px);
  -ms-transform: scale(5, 5) rotate(20deg) translate(5px, 15px);
  -o-transform: scale(5, 5) rotate(20deg) translate(5px, 15px);
  -webkit-transform: scale(5, 5) rotate(20deg) translate(5px, 15px);
}

.principal-container-services > a:hover .tittle-service {
  /* color: rgb(255, 144, 0); */
  color: #f8f9fa;
  transform: translateY(-32px);
  -moz-transform: translateY(-32px);
  -ms-transform: translateY(-32px);
  -o-transform: translateY(-32px);
  -webkit-transform: translateY(-32px);
}

.principal-container-services > a:hover .description-service {
  /* color: rgb(255, 144, 0); */
  color: #f8f9fa;
  transform: translateY(-32px);
  -moz-transform: translateY(-32px);
  -ms-transform: translateY(-32px);
  -o-transform: translateY(-32px);
  -webkit-transform: translateY(-32px);
}
/* ================================Styles contact====================================*/

.font-content-contact {
  background-image: url(../../assets/img/phone-font-index.jpg);
}

.contact-form-info {
  background-color: rgba(0, 3, 0, 0.8);
  color: #fff;
}

.well {
  background-color: rgba(231, 76, 60, 0.2);
  border: solid 1px rgba(231, 76, 60, 0.2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

.input-form-contact {
  background-color: rgba(236, 240, 241, 0.3);
  color: #fff;
  font-style: italic;
}

.input-form-contact::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}

.input-form-contact:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.input-form-contact::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
/* ======================================= MediaQueries bootstrap =======================================*/
/* col-xs */

@media (max-width: 767px) {
  .jumbotron {
    background-color: rgb(255, 255, 255);
    padding-bottom: 60px;
  }
  .jumbotron > p {
    font-size: 16px;
  }
  .logo {
    width: 100%;
  }
  .navigation-list {
    position: absolute;
    top: 55px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    width: 100%;
    height: auto;
    pointer-events: none;
    opacity: 0;
    z-index: 99;
  }
  .navigation-list li {
    display: block;
    width: 100%;
  }
  .navigation-list-show {
    pointer-events: auto;
    opacity: 1;
  }

  .btn-mobile {
    /* height: 55px;
    width: 55px; */
    /* line-height: 55px; */
    /* color: #14100e !important; */
    position: absolute;
    top: 0 !important;
    /* padding: 0 !important; */
    margin-top: 10px !important;
    right: 0;
    text-align: center;
    cursor: pointer;
    /* font-size: 20px; */
  }

  .principal-container-services > a {
    margin: 15px 0;
    width: 100%;
  }
  .social-img {
    height: 48px;
    width: 48px;
  }
  .tittles-pages {
    font-family: "Lobster", cursive;
    font-size: 30px;
  }
}
/* col-sm */

@media (min-width: 768px) and (max-width: 991px) {
  .principal-container-services > a {
    width: 48%;
  }
  .jumbotron {
    padding-bottom: 70px;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 767px) {
  .btn-mobile {
    height: 55px;
    width: 55px;
    line-height: 55px;
    color: #fff;
    position: absolute;
    right: 0;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 1rem;
  }
  .fas-navicon:before,
  .fas-reorder:before,
  .fas-bars:before {
    content: "\f0c9";
  }
  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* START FORM POR PASOS ADHERIDO */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* * {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
} */

::selection {
  color: #fff;
  background: rgba(252, 59, 104, 1);
  background: -moz-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(252, 59, 104, 1)),
    color-stop(44%, rgba(251, 4, 62, 1)),
    color-stop(100%, rgba(189, 0, 44, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc3b68', endColorstr='#bd002c', GradientType=1 );
}
.contenedor-step-form {
  width: 430px;
  text-align: center;
  border-radius: 5px;
  padding: 20px 35px 10px 35px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.contenedor-step-form:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,db0024+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fe002a+0,bb032e+17,d00433+100 */
  background: rgb(254, 0, 42); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(254, 0, 42, 1) 0%,
    rgba(187, 3, 46, 1) 17%,
    rgba(208, 4, 51, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(254, 0, 42, 1) 0%,
    rgba(187, 3, 46, 1) 17%,
    rgba(208, 4, 51, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(254, 0, 42, 1) 0%,
    rgba(187, 3, 46, 1) 17%,
    rgba(208, 4, 51, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe002a', endColorstr='#d00433',GradientType=0 ); /* IE6-9 */
}

.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.container .form-outer {
  width: 100%;
  overflow: hidden;
}
.container .form-outer form {
  display: flex;
  width: 400%;
}
.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field {
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}
form .page .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button {
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
  background: #f85032; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover {
  background: #000;
}
form .page .btns button {
  margin-top: -20px !important;
}
form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next {
  margin-left: 3px;
}
.container .barra-progreso {
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.container .barra-progreso .step {
  text-align: center;
  width: 100%;
  position: relative;
}
.container .barra-progreso .step p {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.barra-progreso .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.barra-progreso .step .bullet.active {
  background: rgba(252, 59, 104, 1);
  background: -moz-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(252, 59, 104, 1)),
    color-stop(44%, rgba(251, 4, 62, 1)),
    color-stop(100%, rgba(189, 0, 44, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc3b68', endColorstr='#bd002c', GradientType=1 );
}

.barra-progreso .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.barra-progreso .step .bullet.active span {
  display: none;
}
.barra-progreso .step .bullet:before,
.barra-progreso .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.barra-progreso .step .bullet.active:after {
  background: rgba(252, 59, 104, 1);
  background: -moz-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(252, 59, 104, 1)),
    color-stop(44%, rgba(251, 4, 62, 1)),
    color-stop(100%, rgba(189, 0, 44, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(252, 59, 104, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc3b68', endColorstr='#bd002c', GradientType=1 );
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.barra-progreso .step:last-child .bullet:before,
.barra-progreso .step:last-child .bullet:after {
  display: none;
}
.barra-progreso .step p.active {
  color: rgba(251, 4, 62, 1);
  transition: 0.2s linear;
}
.barra-progreso .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.barra-progreso .step .check.active {
  display: block;
  color: #fff;
}

/* END FORM POR PASOS ADHERIDO */

/* FORMULARIO MULTIPASOS */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-1: #008080;
  --color-bg-2: #fef9e7;
  --color-btn: #2196f3;
  --color-header-step: rgba(245, 63, 18, 0.973);
  --color-shadow: #222;
  --color-border-input: #ddd;
}
/* Contenedor principal */
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  font-size: 16px;
  font-family: sans-serif;
  /* background-image: linear-gradient(var(--color-bg-1), var(--color-bg-2)); */
  overflow: hidden;
}

/* Formulario */
.form-register {
  padding: 20px 15px;
  width: 100%;
  max-width: 400px;
}

/* Header del formulario */

/* Progressbar */
.progressbar {
  display: flex;
  list-style: none;
  margin-bottom: 15px;
  counter-reset: step;
}

.progressbar__option {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  position: relative;
}

.progressbar__option:before {
  display: flex;
  content: counter(step);
  counter-increment: step;
  width: 20px;
  height: 20px;
  color: white;
  background-color: #dc3545;
  margin: 0 auto 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.progressbar__option:after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 10px;
  left: -50%;
  z-index: 1;
}

.progressbar__option:first-child:after {
  content: none;
}

.progressbar__option.active:before,
.progressbar__option.active:after {
  background-color: var(--color-header-step);
}

/* Título del formulario */
.form-register__title {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 15px;
}

/* body del formulario */
.form-register__body {
  display: flex;
  align-items: flex-start;
}

/* step */
.step {
  background-color: white;
  box-shadow: 1.5px 1.1px 1.1px 0.2px #ccc;
  border-radius: 3px;
  min-width: 100%;
  opacity: 0;
  transition: all 0.2s linear;
}

.step.active {
  opacity: 1;
}

.step.to-left {
  margin-left: -100%;
}

.step.inactive {
  animation-name: scale;
  animation-duration: 0.2s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* header de step */
.step__header {
  padding: 20px 15px;
  background-color: #5a5a5a;
  border-radius: 3px 3px 0 0;
}

.step__title {
  font-size: 1.1rem;
  text-align: center;
  color: #fcfcfc;
}

/* body de step */
.step__body {
  padding: 20px 15px 0;
}

/* step inputs */
.step__input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid var(--color-border-input);
}

/* step footer */
.step__footer {
  padding: 20px 15px;
  text-align: center;
}

/* step botones */
.step__button {
  display: inline-block;
  padding: 10px;
  background-color: #5a5a5a;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

/* FINAL DEL FORMULARIO MULTIPASOS */
