// Variables de color
$negro: #111111;
$blanco: #fefefe;
$grisOscuro: #222222;
$grisClaro: #c8c8c8;
$grisClaroHover: #acabab;
$azul: #3e60e9;
$azulHover: #254be6;

$sombraDark: 10px 10px 20px rgba(170, 170, 170, 0.16);
$sombraLight: 10px 10px 20px rgba(0, 0, 0, 0.16);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; //borde hacia dentro
}

body {
  background: #f1f1f1 !important;
  font-family: "Roboto", sans-serif;
  transition: 2s ease all; //color y fuente con transicion
  &.dark {
    background: $negro !important;
  }
}

// btns
p {
  color: #fff;
  font-size: 12px;
}
@media (min-width: 600px) {
  p {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 90%;
  }
}
@media (max-height: 500px) {
  p {
    left: 0;
    position: relative;
    top: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
p a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: 0.25em;
  text-decoration: none;
}
p a:hover {
  background: white;
  color: #ce4400;
}
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .btn {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btn:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn:nth-of-type(5) {
    margin-right: 0;
  }
}
.btn:hover {
  text-decoration: none;
}
.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.btn-4 span {
  z-index: 20;
}
.btn-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-4:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

// ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- -----
.title-h4 {
  body.dark & {
    color: $blanco !important;
    box-shadow: $sombraLight !important;
    transition: 2s;
  }
}

#sidebar-container {
  body.dark & {
    background: $negro !important;
    color: $blanco !important;
    box-shadow: $sombraLight !important;
    transition: 2s;
    a {
      &:hover {
        background-color: $blanco !important;
        color: $negro !important;
      }
    }
  }
}

.carta-modo-osc {
  background-color: #f8f5f0 !important;
  transition: 2s;
  body.dark & {
    .fondo-titulo {
      background-color: #222222 !important;
      color: $blanco !important;
      transition: 2s;
    }
    transition: 2s;
    background-color: $negro !important;
    color: $blanco !important;
    box-shadow: $sombraLight !important;
  }
}

div.div-cartas {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

td,
.cuerpo-table {
  background-color: #f1f1f1 !important;
  transition: 2s;
  body.dark & {
    background: #222222 !important;
    color: $blanco !important;
    box-shadow: $sombraLight !important;
    transition: 2s !important;
  }
}

.list-group-item {
  background-color: #f1f1f1 !important;
  transition: 2s;
  body.dark & {
    background: $negro !important;
    color: $blanco !important;
    box-shadow: $sombraLight !important;
    transition: 2s !important;
  }
}

.board {
  transition: 2s !important;
  body.dark & {
    background: $negro !important;
    color: $blanco !important;
    box-shadow: $sombraLight !important;
    transition: 2s !important;
  }
}

.barras {
  body.dark & {
    background: $grisOscuro !important;
    box-shadow: $sombraLight !important;
    color: $grisClaro !important;
    a {
      color: $grisClaro !important;
      &:hover {
        color: $blanco !important;
      }
    }
  }
}

.negro {
  color: black;
}

.negro {
  body.dark & {
    box-shadow: $grisClaro !important;
    color: $blanco !important;
  }
}

table tbody tr {
  body.dark & {
    background: $grisOscuro !important;
    transition: 2s;
    span,
    h6 {
      color: $blanco !important;
    }
    p {
      color: #c8c8c8 !important;
    }
  }
}

nav {
  background: $blanco !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 2s ease all;
  box-shadow: $sombraDark;

  // WHAT :/
  body.dark & {
    background: #222222 !important;
    box-shadow: $sombraLight !important;
  }

  .logotipo {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }

  .enlaces {
    display: flex;
    align-items: center;
    a {
      margin-right: 40px;
      &:hover {
        color: #707070 !important;
      }
    }
  }
}

// ----- ----- ----- ----- ----- Switch ----- ----- ----- ----- -----

.switch {
  background: #343d5b !important;
  border-radius: 1000px;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer; // manita de presión
  display: flex;
  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    position: absolute;
    background: #f1f1f1 !important;
    top: 0;
    left: 0;
    right: unset;
    transition: 2s ease all;
    box-shadow: 0px 0px 2px 1px;
  }
  &.active {
    background: orange !important;
    color: #000 !important;
    &::after {
      right: 0 !important;
      left: unset;
    }
  }
  span {
    width: 30px;
    height: 30px;
    line-height: 32px; //corrige
    display: block;
    background: none;
    color: #fff !important;
  }
}

// ----- ----- ----- ----- ----- GRID ----- ----- ----- ----- -----

.grid {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 0;
  .card {
    background: $blanco !important;
    padding: 20px;
    border-radius: 5px;
    box-shadow: $sombraDark !important;
    display: flex;
    align-items: flex-end;
    position: relative;
    min-height: 195px;
    margin-top: 50px;
    transition: 2s ease all;

    body.dark & {
      background-color: $grisOscuro !important;
      box-shadow: $sombraLight !important;
    }

    img {
      vertical-align: top;
      border-radius: 7px;
      position: absolute;
      top: -50px;
      width: calc(100% - 40px);
      max-height: 165px;
      object-fit: cover;
    }

    .botones {
      width: 100%;
      margin-top: 20px;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;

      .boton {
        padding: 10px;
        color: #fff !important;
        width: 100%;
        display: block;
        background: $negro;
        text-align: center;
        border-radius: 5px;
        transition: 2s ease all;
        &.primario {
          background: $azul !important;
          &:hover {
            background: $azulHover !important;
          }
        }

        &.secundario {
          background: $grisClaro !important;
          &:hover {
            background: $grisClaroHover !important;
          }
        }
      }
    }
  }
}
