// .btn {
//     color: #fff;
//     cursor: pointer;
//     display: block;
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 45px;
//     margin: 0 auto 2em;
//     max-width: 160px;
//     position: relative;
//     text-decoration: none;
//     text-transform: uppercase;
//     align-content: center;
//     width: 100%;
//   }
//   @media (min-width: 400px) {
//     .btn {
//       display: inline-block;
//       margin-right: 2.5em;
//     }
//     .btn:nth-of-type(even) {
//       margin-right: 0;
//     }
//   }
//   @media (min-width: 600px) {
//     .btn:nth-of-type(even) {
//       margin-right: 2.5em;
//     }
//     .btn:nth-of-type(5) {
//       margin-right: 0;
//     }
//   }
  .btn:hover {
    text-decoration: none;
  }
  
  .btn-4 {
    border: 1px solid;
    overflow: hidden;
    position: relative;
  }
  .btn-4 span {
    z-index: 20;
  }
  .btn-4:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  .btn-4:hover:after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }