input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
  display: none;
}

.w-92{
  width: 92% !important;
}

.w-90{
  width: 90% !important;
}

.w-88{
  width: 88% !important;
}

.inpStatusRec{
  position: absolute;
  right: 48px;
  bottom: 8.3px;
  z-index: 100;
}

.inpStatusRec2{
  position: absolute;
  right: 48px;
  bottom: 8.3px;
  z-index: 120;
}

.recInput{
  width: 87.5%;
}

.text-sm-strict{
  font-size: 13px !important;
}

.blanco_estricto{
  background-color: white !important;
}

.paleta {
  top: 40%;
  left: 46%;
  position: fixed;
  animation-name: paleta;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  z-index: 50;
  display: none;
  align-items: center;
  justify-content: center;
}

@keyframes paleta {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.input_v{
  border-radius: 1px !important;
  transition: .3s ease all !important;
}

.input_v::placeholder{
  text-align: left !important;
  font-size: smaller !important;
}

.input_v:focus{
  border: 1px solid #0075FF !important;
  outline: none !important;
  box-shadow: 3px 0px 30px rgba(163,163,163, 0.4) !important;
}

.input_v_login{
  border-radius: 3px;
  transition: .3s ease all;
}

.input_v_login::placeholder{
  text-align: left;
  font-size: smaller;
}

.input_v_login:focus{
  border: 1px solid #0075FF;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.input_incorrecto{
  border: 1px solid #e40808 !important;
  outline: none !important;
  box-shadow: 3px 0px 30px rgba(163,163,163, 0.4) !important;
}

.input_correcto{
  border: 1px solid #08c701 !important;
  outline: none !important;
  box-shadow: 3px 0px 30px rgba(163,163,163, 0.4) !important;
}

.input_estado_1{
  position: absolute;
  right: 10px;
  bottom: 36.7px;
  z-index: 100;
}

.inpStatusCP{
  position: absolute;
  right: 46px;
  bottom: 10px;
  z-index: 120;
}

.input_estado_2{
  position: absolute;
  right: 10px;
  bottom: 9px;
  z-index: 120;
}

.input_estado_3{
  position: absolute;
  right: 15px;
  bottom: 30px;
  z-index: 120;
}

.input_estado_4{
  position: absolute;
  right: 15px;
  bottom: 17px;
  z-index: 120;
}

.input_estado_5{
  position: absolute;
  right: 10px;
  bottom: 23px;
  z-index: 100;
}

.input_estado_6{
  position: absolute;
  right: 10px;
  bottom: 9px;
  z-index: 120;
}

.input_estado_7{
  position: absolute;
  right: 15px;
  bottom: 44.5px;
  z-index: 120;
}

.input_estado_8{
  position: absolute;
  right: 11.7em;
  bottom: 25px;
  z-index: 120;
}

.input_estado_9{
  position: absolute;
  right: 2.15em;
  bottom: 9px;
  z-index: 120;
}

.input_estado_10{
  position: absolute;
  right: 2.15em;
  bottom: 50px;
  z-index: 120;
}

.input_estado_11{
  position: absolute;
  right: 11.7em;
  bottom: 9px;
  z-index: 120;
}

.bad5{
  bottom: 44px !important;
}

.estado_oculto{
  display: none !important;
}

.politica3{
  font-size: 0.55rem;
}

.titulo-servicio2 {
  font-family: "Oswald", cursive;

}

input{
  cursor: text !important;
}

input:hover{
  cursor: text !important;
}

.pad {
  width: 100% !important;
  text-align: center !important;
}

.swal-modal .swal-text {
  text-align: center !important;
}

.politica {
  font-size: 0.6rem;
}

.esconder {
  display: none;
}

.desenfundar {
  display: block;
}

.coltitle {
  color: #1c1e21;
  font-family: "Oswald", cursive;
  /* font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif; */
  font-size: 32px;
  line-height: 38px;
  /* margin-bottom: 0; */
}

.imagen-logo {
  width: 4.8rem;
  height: 4.2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  font-family: "Oswald", cursive !important;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  /* width: 100%;
  height: 100%; */
  /* margin: 0 auto 100px; */
  margin-top: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.f2 {
  position: relative;
  width: 640px;
  height: 100%;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  padding: 50px 50px 0px 0px;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  -webkit-transform: translate3d(-640px, 0, 0);
  transform: translate3d(-640px, 0, 0);
}

/* button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
} */

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("../img/us/t32.jpg");
  background-size: cover;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
  -webkit-transform: translate3d(640px, 0, 0);
  transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
  -webkit-transform: translateX(520px);
  transform: translateX(520px);
}
.img__text.m--in {
  -webkit-transform: translateX(-520px);
  transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.img__btn span.m--in {
  -webkit-transform: translateY(-72px);
  transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  -webkit-transform: translateY(72px);
  transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}
.fb-btn span {
  font-weight: 400;
  color: #455a81;
}

.sign-in {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transform: translate3d(640px, 0, 0);
  transform: translate3d(640px, 0, 0);
}

.sign-up {
  -webkit-transform: translate3d(-900px, 0, 0);
  transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}

/* ---------------------------- */

.form {
  /* margin: auto; */
  /* width: 75%; */
  padding: 20px 30px;
  /* padding: 20px; */
  background: #fff;
  border: 1px solid #dfdfdf;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: 50px center;
  perspective-origin: 50px center;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.form::before,
.form::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.form::before {
  height: 100%;
  top: 0;
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
  /* background: #333; */
  opacity: 0.3;
}
.form::after {
  /* content: "SUCCESS!"; */
  -webkit-transform: translateY(-50%) translateZ(-101px) scaleX(-1);
  transform: translateY(-50%) translateZ(-101px) scaleX(-1);
  top: 50%;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.field {
  position: relative;
  background: #cfcfcf;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.field + .field {
  margin-top: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.icon::before,
.icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.icon::after {
  -webkit-transform: translateZ(-23px);
  transform: translateZ(-23px);
  opacity: 0.5;
}

.input {
  border: 1px solid #dfdfdf;
  background: #fff;
  height: 48px;
  line-height: 48px;
  padding: 0 10px 0 48px;
  width: 100%;
  -webkit-transform: translateZ(26px);
  transform: translateZ(26px);
}

/* .gina{

} */

.button {
  display: block;
  width: 100%;
  border: 0;
  text-align: center;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(45deg, #e53935, #e35d5b);
  margin-top: 14px;
  padding: 0.5rem;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(26px);
  transform: translateZ(26px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}
.button:hover {
  -webkit-transform: translateZ(13px);
  transform: translateZ(13px);
}

.btnNewAccount {
  display: block;
  width: 100%;
  border: 0;
  text-align: center;
  font-weight: 400;
  color: #fff !important;
  text-decoration: none !important;
  background: linear-gradient(45deg, #1eb919, #57df45);
  margin-top: 20px;
  padding: 14px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(26px);
  transform: translateZ(26px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}

.btnNewAccount:hover {
  -webkit-transform: translateZ(13px);
  transform: translateZ(13px);
}

.side-top-bottom {
  width: 100%;
}
.side-top-bottom::before,
.side-top-bottom::after {
  content: "";
  width: 100%;
  height: 26px;
  background: linear-gradient(45deg, #e2231e, #df4745);
  position: absolute;
  left: 0;
}
.side-top-bottom::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: translateZ(-26px) rotateX(90deg);
  transform: translateZ(-26px) rotateX(90deg);
  top: 0;
}
.side-top-bottom::after {
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateZ(-26px) rotateX(-90deg);
  transform: translateZ(-26px) rotateX(-90deg);
  bottom: 0;
}

.side-top-bottom-2 {
  width: 100%;
}
.side-top-bottom-2::before,
.side-top-bottom-2::after {
  content: "";
  width: 100%;
  height: 26px;
  background: linear-gradient(45deg, #25e21e, #45df45);
  position: absolute;
  left: 0;
}
.side-top-bottom-2::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: translateZ(-26px) rotateX(90deg);
  transform: translateZ(-26px) rotateX(90deg);
  top: 0;
}
.side-top-bottom-2::after {
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateZ(-26px) rotateX(-90deg);
  transform: translateZ(-26px) rotateX(-90deg);
  bottom: 0;
}

.side-left-right {
  height: 100%;
}
.side-left-right::before,
.side-left-right::after {
  content: "";
  height: 100%;
  width: 26px;
  position: absolute;
  top: 0;
}
.side-left-right::before {
  background: #e53935;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  left: 0;
}
.side-left-right::after {
  background: #e35d5b;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  right: 0;
}

.side-left-right-2 {
  height: 100%;
}
.side-left-right-2::before,
.side-left-right-2::after {
  content: "";
  height: 100%;
  width: 26px;
  position: absolute;
  top: 0;
}
.side-left-right-2::before {
  background: #3be535;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  left: 0;
}
.side-left-right-2::after {
  background: #66e35b;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  right: 0;
}

.email .icon::before,
.email .icon::after {
  background: url(https:image.flaticon.com/icons/svg/131/131040.svg)
    center/contain no-repeat;

    padding-bottom: 0 !important;
}

.password .icon::before,
.password .icon::after {
  background: url(https:image.flaticon.com/icons/svg/130/130996.svg)
    center/contain no-repeat;
}

.face-up-left {
  -webkit-transform: rotateY(-30deg) rotateX(30deg);
  transform: rotateY(-30deg) rotateX(30deg);
}

.face-up-right {
  -webkit-transform: rotateY(30deg) rotateX(30deg);
  transform: rotateY(30deg) rotateX(30deg);
}

.face-down-left {
  -webkit-transform: rotateY(-30deg) rotateX(-30deg);
  transform: rotateY(-30deg) rotateX(-30deg);
}

.face-down-right {
  -webkit-transform: rotateY(30deg) rotateX(-30deg);
  transform: rotateY(30deg) rotateX(-30deg);
}

.form-complete {
  -webkit-animation: formComplete 2s ease;
  animation: formComplete 2s ease;
}

.form-error {
  -webkit-animation: formError 2s ease;
  animation: formError 2s ease;
}

input:active,
input:focus,
button:active,
button:focus {
  outline: none;
  border: 1px solid #e77371;
}

@-webkit-keyframes formComplete {
  50%,
  55% {
    -webkit-transform: rotateX(30deg) rotateY(180deg);
    transform: rotateX(30deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(1turn);
    transform: rotateX(0deg) rotateY(1turn);
  }
}

@keyframes formComplete {
  50%,
  55% {
    -webkit-transform: rotateX(30deg) rotateY(180deg);
    transform: rotateX(30deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(1turn);
    transform: rotateX(0deg) rotateY(1turn);
  }
}
@-webkit-keyframes formError {
  0%,
  100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateX(-25deg);
    transform: rotateX(-25deg);
  }
  33% {
    -webkit-transform: rotateX(-25deg) rotateY(45deg);
    transform: rotateX(-25deg) rotateY(45deg);
  }
  66% {
    -webkit-transform: rotateX(-25deg) rotateY(-30deg);
    transform: rotateX(-25deg) rotateY(-30deg);
  }
}
@keyframes formError {
  0%,
  100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateX(-25deg);
    transform: rotateX(-25deg);
  }
  33% {
    -webkit-transform: rotateX(-25deg) rotateY(45deg);
    transform: rotateX(-25deg) rotateY(45deg);
  }
  66% {
    -webkit-transform: rotateX(-25deg) rotateY(-30deg);
    transform: rotateX(-25deg) rotateY(-30deg);
  }
}
small {
  color: #999;
  text-align: center;
  display: block;
  margin-top: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}




