.paleta {
  top: 40%;
  left: 46%;
  position: fixed;
  animation-name: paleta;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  z-index: 50;
  display: none;
  align-items: center;
  justify-content: center;

}

@keyframes paleta {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.input_v{
    border-radius: 2px;
    transition: .3s ease all;
    width: 87.5% !important;
  }

  .input_v::placeholder{
    text-align: left;
    font-size: smaller;
  }

  .input_v:focus{
    border: 1px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  }

  .input_incorrecto{
    border: 1px solid #e40808;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  }

  .input_correcto{
    border: 1px solid #08c701;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  }

  .inpStatusRec{
    position: absolute;
    right: 47.5px;
    bottom: 7px;
    z-index: 100;
  }

  .inpStatusRec2{
    position: absolute;
    right: 47.5px;
    bottom: 7px;
    z-index: 120;
  }

  .input_estado_3{
    position: absolute;
    right: 47.5px;
    bottom: 7px;
    z-index: 100;
  }

  .input_estado_4{
    position: absolute;
    right: 47.5px;
    bottom: 7px;
    z-index: 120;
  }

  .estado_oculto{
    display: none !important;
  }

  .blanco_estricto{
    background-color: white !important;
  }