

html,
body {
  cursor: url(../../assets/img/cursors/anathema_cursor/cursor_rojo.cur), auto;
}

a,
button {
  cursor: url(../../assets/img/cursors/anathema_cursor/mano_roja.cur), auto !important;
}

.texto-pequeño1 {
  font-size: 0.75rem;
  padding: 0.7rem !important;
  padding-bottom: 0 !important;
  background: #dc3545;
}

/* .textR {
  font: bold 80px/1 arial;
  text-transform: uppercase;
  font-size: 4rem;
  color: #c61e1e;
  text-shadow: 0 2px 0 #8b1515, 0 4px 0 #7c1313, 0 6px 0 #6e1111,
    0 8px 0 #5f0e0e, 0 10px 0 #500c0c, 0 12px 0 #410a0a,
    3px 8px 15px rgba(0, 0, 0, 0.1), 3px 8px 5px rgba(0, 0, 0, 0.3);
}

.textR2 {
  font: bold 80px/1 arial;
  text-transform: uppercase;
  font-size: 4rem;
  color: #371ec6;
  text-shadow: 0 2px 0 #21158b, 0 4px 0 #23137c, 0 6px 0 #1a116e,
    0 8px 0 #1a0e5f, 0 10px 0 #160c50, 0 12px 0 #140a41,
    3px 8px 15px rgba(0, 0, 0, 0.1), 3px 8px 5px rgba(0, 0, 0, 0.3);
} */

.texto-negro {
  color: black;
}

/* #mostrarOcultar{
    width:6 0%;
    overflow:hidden;
    white-space:nowrap; ESTO ES PARA QUE NO SE VEA TANTO TEXTO
    text-overflow: ellipsis;
} */

.politica {
  font-size: 0.6rem;
}

/* .mostrarOcultar {
  width: 6 0%;
  overflow: hidden;
  white-space: nowrap;
} */

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 12px;
  background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  height: 4rem;
  border-radius: 5rem;
  border: 2px groove;
  background: rgba(251, 24, 77, 1);
  background: -moz-linear-gradient(
    left,
    rgba(251, 24, 77, 1) 0%,
    rgba(226, 3, 55, 1) 44%,
    rgba(168, 0, 39, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(251, 24, 77, 1)),
    color-stop(44%, rgba(226, 3, 55, 1)),
    color-stop(100%, rgba(168, 0, 39, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(251, 24, 77, 1) 0%,
    rgba(226, 3, 55, 1) 44%,
    rgba(168, 0, 39, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(251, 24, 77, 1) 0%,
    rgba(226, 3, 55, 1) 44%,
    rgba(168, 0, 39, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(251, 24, 77, 1) 0%,
    rgba(226, 3, 55, 1) 44%,
    rgba(168, 0, 39, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(251, 24, 77, 1) 0%,
    rgba(226, 3, 55, 1) 44%,
    rgba(168, 0, 39, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fb184d', endColorstr='#a80027', GradientType=1);
}

::-webkit-scrollbar-thumb:hover {
  transition: 1s;
  background: rgba(252, 54, 100, 1);
  background: -moz-linear-gradient(
    left,
    rgba(252, 54, 100, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(252, 54, 100, 1)),
    color-stop(44%, rgba(251, 4, 62, 1)),
    color-stop(100%, rgba(189, 0, 44, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(252, 54, 100, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(252, 54, 100, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(252, 54, 100, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(252, 54, 100, 1) 0%,
    rgba(251, 4, 62, 1) 44%,
    rgba(189, 0, 44, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fc3664', endColorstr='#bd002c', GradientType=1);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(253, 94, 131, 1);
  background: -moz-linear-gradient(
    left,
    rgba(253, 94, 131, 1) 0%,
    rgba(252, 34, 85, 1) 44%,
    rgba(214, 0, 50, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(253, 94, 131, 1)),
    color-stop(44%, rgba(252, 34, 85, 1)),
    color-stop(100%, rgba(214, 0, 50, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(253, 94, 131, 1) 0%,
    rgba(252, 34, 85, 1) 44%,
    rgba(214, 0, 50, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(253, 94, 131, 1) 0%,
    rgba(252, 34, 85, 1) 44%,
    rgba(214, 0, 50, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(253, 94, 131, 1) 0%,
    rgba(252, 34, 85, 1) 44%,
    rgba(214, 0, 50, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(253, 94, 131, 1) 0%,
    rgba(252, 34, 85, 1) 44%,
    rgba(214, 0, 50, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fd5e83', endColorstr='#d60032', GradientType=1);
}

input.animate__slower {
  --animation-duration: 20s;
}

*::selection {
  background-color: black;
  color: white;
}

/*MODAL STYLE*/

.modalScroll {
  overflow-y: scroll;
}

/*END MODAL STYLE*/

/*HIPERVINCULOS*/

.vinculo {
  border: 1px ridge white !important;
  font-size: 0.75rem !important;
}

.vinculo:hover {
  background-color: white !important;
  border: 1px ridge #ff4747 !important;
  color: #ff4747 !important;
  /* cursor: pointer !important; */
}

/*START FORM STYLE*/

/* .fondo-hueso {
  background-color: #f5f5dc;
} */

.fondo-hueso-rojizo{
  background-color: #fdfbfb;
}

.fondo-blanco {
  background-color: white;
}

/* .solumobil-logo {
  margin-left: 0.8rem;
} */

/* .fondo-form {
   background-image: url("../../assets/img/us/t2-min.jpg") no-repeat fixed 0 0 /
    cover rgba(0, 0, 0, 0) !important;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ff4747;
  background-size: cover;
  background-size: 100% 100%;
  max-width: 100%;
} */

.text-fondo {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.logo-sm {
  transform: translate(-50%, -50%);
}

.paleta {
  position: absolute;
  animation-name: paletaSM;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  width: 6.8rem;
  height: 7.9rem;
}

@keyframes paletaSM {
  0% {
    background-color: none;
    left: 0px;
    top: 0px;
  }
  10% {
    background-color: none;
    left: 40rem;
    top: 10px;
  }
  25% {
    background-color: none;
    left: 50rem;
    top: 5px;
  }
  50% {
    background-color: none;
    left: 29rem;
    top: 0rem;
    transform: rotate(360deg);
  }
  60% {
    background-color: none;

    left: 10rem;
    top: 20rem;
  }
  80% {
    background-color: none;
    left: 20rem;
    top: 20rem;
  }
  90% {
    background-color: none;
    left: 5rem;
    top: 0rem;
  }
  100% {
    background-color: none;
    left: 0rem;
    top: 0rem;
    transform: rotate(-360deg);
  }
}

/*END FORM STYLE*/


.modalNew .modal-dialog {
  max-width: 380px;
  min-height: calc(100vh - 0);
}

.modalNew.show .modal-dialog {
  transform: translate(0, 0);
}

.modalNew .modal-content {
  height: calc(100vh - 0);
  overflow-y: auto;
}

.modalNew .modal-dialog {
  transform: translate(-100%, 0);
  margin: 0 auto 0 0;
}


/*START MODAL LEFT STYLE*/
/*MODAL LEFT*/
.modal.modal-left .modal-dialog {
  max-width: 380px;
  min-height: calc(100vh - 0);
}

.modal.modal-left.show .modal-dialog {
  transform: translate(0, 0);
}

.modal.modal-left .modal-content {
  height: calc(100vh - 0);
  overflow-y: auto;
}

.modal.modal-left .modal-dialog {
  transform: translate(-100%, 0);
  margin: 0 auto 0 0;
}

/*MODAL RIGHT*/

.modal.modal-right .modal-dialog {
  max-width: 380px;
  min-height: calc(100vh - 0);
}

.modal.modal-right.show .modal-dialog {
  transform: translate(0, 0);
}

.modal.modal-right .modal-content {
  height: calc(100vh - 0);
  overflow-y: auto;
}

.modal.modal-right .modal-dialog {
  transform: translate(-100%, 0);
  margin: 0 0 0 auto;
}

/*END MODAL LEFT STYLE*/

.acortador {
  width: 5%;
  background-color: #2e3331;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.list-espaciado {
  margin-bottom: 22rem;
}

/*BUTTON STYLE*/

/* a.btnDetail {
  background-color: #03b0bd;
}

a.btnDetail:hover {
  background-color: #00c6d4;
  box-shadow: 5px 5px 0 #333;
  -webkit-box-shadow: 5px 5px 0 #333;
  -moz-box-shadow: 5px 5px 0 #333;
} */

/* a.buttonAdd {
  max-width: 8rem;
  width: 6rem;
  background-color: #2d572c;
}

a.buttonAdd:hover {
  background-color: #2d972e !important;
  box-shadow: 5px 5px 0 #333;
  -webkit-box-shadow: 5px 5px 0 #333;
  -moz-box-shadow: 5px 5px 0 #333;
} */

button.button-inactive:hover {
  box-shadow: 5px 5px 0 rgb(194, 194, 194);
  -webkit-box-shadow: 5px 5px 0 rgb(194, 194, 194);
  -moz-box-shadow: 5px 5px 0 rgb(194, 194, 194);
}

/* button.button-list-active {
  background-color: #2d572c;
}

button.button-list-active:hover {
  background-color: #3d992e !important;
  box-shadow: 5px 5px 0 #333;
  -webkit-box-shadow: 5px 5px 0 #333;
  -moz-box-shadow: 5px 5px 0 #333;
} */

/* a.buttonEditar {
  background-color: #6b3f7d;
  color: #fff;
}

a.buttonEditar:hover {
  background-color: #9b3f9e !important;
  color: #f5f5dc;
  box-shadow: 4px 4px 0 #333;
  -webkit-box-shadow: 4px 4px 0 #333;
  -moz-box-shadow: 4px 4px 0 #333;
} */

button.buttonGenerar {
  background-color: #e12323;
  color: white;
}

button.buttonGenerar:hover {
  background-color: white;
  color: #e12323;
  border-color: #e12323;
}

/*TABLE STYLE*/
@media (min-width: 0px) and (max-width: 800px) {
  .testado {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 720px) {
  .tpeticion {
    display: none;
  }

  .ttotal {
    display: none;
  }

  .tcliente {
    display: none;
  }
}

/* table.listado {
  border-radius: 0.5rem;
  background-color: #343A40;
} */

/* tbody.cuerpo-table:hover {
  background-color: #fff0f0;
  border-color: #140000;
}

th.head-hover:hover {
  transition: 1s;
  color: black;
  background-color: white;
} */

/*CARD STYLE*/

div.cartas {
  background-color: #f8f5f0;
}

.cartas-edit {
  background-color: #f5f6fa !important;
  color: #800000 !important;
  border: 0.41rem ridge #570000 !important;
  border-radius: 3rem !important;
}

/*Pictures*/

.img-perfil {
  width: 2.8rem;
  height: 2.8rem;
}

/*Titles*/

/* .title-medium {
  font-size: 1rem;
} */

.title-small {
  font-size: 0.64rem;
  color: #000357;
}

.text-small {
  font-size: 0.7rem;
}

/*FOOTER STYLES*/

/*#foot:hover{
	display: none;
}*/

.a-hide-foot {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  opacity: 0.03;
  padding: 0.2rem !important;
  float: right;
  position: relative;
}

.a-hide-foot:hover {
  opacity: 10;
}

.foot {
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  background-color: #140000;
  border-top: 2px solid #f00;
}

.foot:hover {
  background-color: #8f0000;
  transition: 600s;
}

.fb {
  display: block;
  margin-left: 1rem;
}

.fb:hover {
  background-color: white;
  border-radius: 3rem !important;
  color: #3b5998;
}

.yt {
  display: block;
}

.yt:hover {
  background-color: white;
  border-radius: 3rem !important;
  color: #d80013;
}

.wtp {
  display: block;
}

.wtp:hover {
  background-color: #00bb2d;
  border-radius: 3rem !important;
  color: white;
}

.map {
  display: block;
}

.map:hover {
  background-color: white;
  border-radius: 3rem !important;
  color: #d80013;
}

@media only screen and (max-width: 600px) {
  .fb {
    margin: 0;
    display: block;
  }
}

.list-social-icons > li {
  display: inline-block;
  margin: 0 4px;
}

.list-social-icons > li > a > i {
  transition: all 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 19px;
}

.list-social-icons > li > a > i:hover {
  transform: scale(1.5);
}
