body {
  background-image: url(https://picsum.photos/1000/1000?random);
  background-size: cover;
  background-repeat: no-repeat;
}
.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
